body {
  background-color: #a6c8f1;
  text-align: center;
}
img {
  width: 250px;
  height: 250px;

  transition: width 2s, height 2s;
}
img:hover {
  width: 300px;
  height: 300px;
}
a {
  transition: 2s;
}
a:hover {
  background-color: rgb(255, 255, 255);
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(231, 59, 128);
  border-width: 8px;
  width: 10%;
}
table {
  margin-right: auto;
  margin-left: auto;
}
.text_education {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
